body{
	color: #545454;
	position: absolute;
	
	background: #FFFFFF;
}

a{
	color: #555555;
}

#header a{
	text-decoration: none;
}

form{
	font-size: 1.5em;
    line-height: 1.5em;
    margin: auto;
    text-align: left;
    width: 17em;
}

form input:not([type="submit"]),
form select{
	font-size: 1em;
	width: 16em;
	margin-left: .5em;
}

form input[type="submit"]{
	float: right;
	font-size: 1em;
}

.gutter{
	margin-top: -2.95em;
	margin-bottom: .5em;
}

#leftPad{
	margin: 0 13.25em;
}

#content{
	margin-top: .5em;
}

#page{
	width: 64em;
	margin: auto auto auto auto;
	min-height: 30.5em;
	
	padding: 3em 0;
	
	border: .0625em solid #C5CAE8;
	border-bottom: none;
	border-top: none;
	background-color: #FFFFFF;
}

#sticky-wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5.925em;
	
	background: linear-gradient(-180deg, #ffffff 0%,#f8fafd 15%,#f8fafd 85%,#ffffff 100%);
}

#footer, #push {
	height: 3.125em;
	padding-top: 1em;
}